{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p><strong>{% trans "Su nombre de usuario y/o contraseña son incorrectos." %}</strong> {% trans "Chequee que este usando mayúsculas correctamente." %}</p>
        </div>
    {% endif %}
    <form action="{% url 'login' %}" method="post" class="form-horizontal text-center" role="form">{% csrf_token %}
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-md-4">
                <button type="submit" class="btn btn-default">{% trans 'Iniciar Sesión' %}</button>
            </div>
            <div class="top-buffer col-sm-offset-2 col-sm-10">
                <p><a href="javascript:toggleForgotPasswordHint();">Forgot your password?</a></p>
            </div>
        </div>
    </form>
{% endblock %}