{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	<!--[if lte IE 8]>
		<div class="alert alert-warning alert-dismissible">
            WebODM cannot be used with this version of Internet Explorer. Could you please upgrade <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> to the latest version or use <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
        </div>
	<![endif]-->

	{% if no_tasks %}
	<div class="row">
		<div class="welcome-container col-md-4 col-md-offset-4">
			<h3 class="text-center">{% trans '¡Bienvenido/a!' %}</h3>
			<h5 class="text-center">{% trans 'Comience por crear su primer muestra haciendo click en el botón a la derecha de su proyecto' %}</h5>
			<p>
				<ul>
					<li>{% trans 'Se necesitan como mínimo 5 imágenes' %}</li>
					<li>{% trans 'Las imágenes deben superponerse al menos en un 65%' %}</li>
					<li>{% trans 'Para un modelo 3D de mejor nivel, las imágenes deben superponerse en un 83%' %}</li>
					<li>{% trans 'Un archivo GCP es opcional, pero puede aumentar la precisión de la geo referenciación' %}</li>
				</ul>
			</p>
		</div>
	</div>
	{% endif %}

	<div id="dashboard-app"  class="row" data-dashboard></div>

{% endblock %}
