.asset-download-buttons{
    display: inline-block;
    button{
        margin-right: 0 !important;
        i{
            left: 2px;
        }
    }

    &.btn-group{
        button{
            i{
                left: auto;
            }
        }
    }
}

.btn-with-icon {
    background-color: #EAB41B;
    border-radius: 12px;
    color: #ffffff;
    font-size: x-small;
    height: 20px;
    padding: 0px 5px;
    width: 100%;
}
