.task-list-item{
    background-color: #ffffff;
    border: solid 1px #4c4c4c;
    border-radius: 20px;
    margin-right: 15px;

    &.no-padding{
        padding: 0 !important;
    }

    .row{
        margin: 0;
        padding: 4px;
        padding-left: 8px;

        .no-padding{
            padding: 0;
        }

        &.no-padding{
            padding: 0;
        }
    }

    .row-odd {
        background-color: #eeeded;
    }

    .name{
        font-size: medium;
        font-weight: bold;
        padding-left: 0;
        margin-top: 4px;
        text-transform: uppercase;
    }

    .btn-icon {
        background-color: transparent;
        font-size: medium;
    }

    .btn-icon-warning:hover { color: #EAB41B }

    .btn-edit {
        color: #528f53;
    }

    .btn-delete {
        color: #ff3939;
    }

    .details{
        font-size: 90%;
        padding-right: 0;
        margin-top: 4px;

        i{
            margin-left: 16px;
            &:first-child{
                margin-left: 4px;
            }
        }
    }

    .status-icon{
        margin-top: 3px;
        .fa-cog{
            width: auto;
        }
    }

    .status-label{
        border: none;
        border-radius: 12px;
        color: #ffffff;
        font-size: xx-small;
        height: 100%;
        padding: 0;
        width: 100%;
    }

    .ver-mapa {
        background-color: #049715;
    }

    .status-label-content{
        padding: 5px 0px;
    }

    .clickable:hover{
        cursor: pointer;
    }

    .expanded-panel{
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 0px;

        .task-warning{
            margin-top: 16px;
            margin-bottom: 16px;

            i.fa.fa-warning{
                color: #ff8000;
            }
            span, div{
                font-size: 13px;
            }
            div.inline{
                display: inline;
            }
            ul{
                margin: 8px 0;
            }
        }

        .action-buttons{
            button{
                margin-right: 4px;
            }

            .btn-group{
                button:first-child{
                    margin-right: 0;
                }
            }

            .edit-button{
                margin-right: 15px;
            }

            .asset-download-buttons{
                margin-right: 4px;
            }
        }
    }

    .inline-block{
        display: inline-block;
    }

    .inline{
        display: inline;
    }

    .console-switch{
        margin-right: 10px;
        margin-bottom: 8px;
        position: relative;
        z-index: 99;
        .console-output-label{
            margin-right: 8px;
        }
        .console-output-label, ul{
            display: inline-block;
        }
    }
    
    .mb{
        margin-bottom: 12px;
    }
}